/* Laptop styles */
@media (min-width: 1025px) {
  
}

/* Tablet styles */
@media (max-width: 1024px) {
  
}
@media screen and (max-width: 775px) {
  #about article {
    display: block;
    max-height: 100vh;
    /* flex-wrap: wrap; */
  }
  #about figure {
    max-width: 50vw;
    max-height: 50vh;
    margin: 0 auto;
  }
  #about div.about-details {
    width: 100%;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  
}
@media screen and (max-width: 600px) {

}
